*{
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}

.Header{
    background-color: #b49bc8;
}

.HeaderWrapper{
    padding: 72px 0px;
    margin: 0px 47px;
    justify-content: center;
}

.HeaderWrapper h1{
    font-size: 80px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    max-width: 100%;
    width: auto;
    display: inline-block;
    line-height: 1.2;
}

.HeaderWrapper h2{
    text-align: center;
    font-size: 30px;
    padding: 0px;
    margin: 30px 0px 0px;
    font-weight: 700;
}

.ButtonWrapper{
    margin: 35px 0px 0px;
    justify-content: center;
    display: flex;
}

.ButtonWrapper .Black{
    background-color:black;
    width: 235px;
    height: 48px;
    border-radius: 30px;
    color: #b49bc8;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
}

.ButtonWrapper .Black:hover{
    transform: scale(1.04);
    background-color: rgb(64, 64, 64) ;
}

.ButtonWrapper .Transparent{
    background-color: #b49bc8;
    width: 290px;
    height: 48px;
    border-radius: 30px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
    margin: 0px 5px;
    cursor: pointer;
    border: 2.5px solid black;
}

.ButtonWrapper .Transparent:hover{
    transform:scale(1.04) ;
    background-color: rgb(199, 180, 214);
}

.HeaderWrapper footer{
    margin: 40px 0px 0px;
    justify-content: center;
    display: flex;
    font-size: 12px;
}

.Body{
    background-color: #a0c3d2;
}

.BodyWrapper{
    padding: 72px 0px;
    margin: 0px 47px;
    justify-content: center;
}

.BodyWrapper h1{
    font-size: 48px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
    max-width: 100%;
    width: auto;
    line-height: 1.2;
}

.BodyWrapper h2{
    text-align: center;
    font-size: 24px;
    padding: 0px;
    margin: 30px 0px 0px;
    font-weight: 400;
}

.ButtonWrapper .White{
    background-color:black;
    width: 342px;
    height: 48px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
    margin: 0px 5px;
    cursor: pointer;
    border: none;
}

.ButtonWrapper .White:hover{
    transform: scale(1.04);
    background-color: rgb(64, 64, 64) ;
}

.Diskon{
    margin: 32px 194px 0px;
}

.Diskon .DiskonWrapper{
    display: flex;
    width: 722px;
    height: 96px;
    margin: 0px 16px;
    padding: 14px 0px 16px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.Diskon .DiskonWrapper h3{
    font-size: 24px;
    margin: 0px 0px 5px 15px;
    display: block;
    font-weight: bold;
}

.DiskonButton{
    background-color:white;
    width: 342px;
    height: 66px;
    border-radius: 30px;
    color: black;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
    margin: 0px 5px;
    cursor: pointer;
    border: 2px solid black;
}

.DiskonButton:hover{
    transform: scale(1.04);
}