.CardBody{
    background-color: white;
}

.CardSection{
    padding: 75px 15px;
    margin: 0px 47px;
    justify-content: center;
}

.CardSection header h1{
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.015em;
    line-height: 1.3;
}

.CardWrapper{
    padding: 60px 0px 0px 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
}

.PremiumBody{
    background-color: rgb(248, 248, 248);
}

.PremiumSection{
    padding: 75px 15px;
    margin: 0px 47px;
    justify-content: center;
}

.PremiumSection header h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    letter-spacing: -1.6px;
    line-height: 1;
}

.PremiumSection header h3{
    font-size: 16px;
    margin: 10px 0px;
    text-align: center;
}

.PremiumWrapper{
    padding: 0px;
    margin: 50px 0px 26px;
    list-style-type: none;
    display: flex;
}