.Card {
    background-color: white;
    padding: 0px 0px 20px;
    height: 259px;
    width: 285px;
    display: block;
    justify-content: center;
    text-align: center;
}

.Card img{
    width: 142px;
    height: 142px;
    margin: 0px 72px 40px;
}

.DescWrapper{
    margin: 16px 0px;
}
