.Footer{
    padding: 80px 0px 50px 0px;
    background-color: black;
    width: 100%;
    height: 534px;
}

.Footer .FooterWrapper{
    margin: 0px 47px;
}

.Wrapper{
    width: 195px;
    height: 346px;
}

.wrapper p{
    margin: 20px 0px;
}

.SocialMediaSection{
    margin: 0px 15px 0px 183px;
    display: flex;
}

.SocialMediaSection a{
    background-color: #222326;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
    margin: 0px 15px 0px 0px;
}

.SocialMediaWrapper{
    margin: 20px 0px 0px;
}

.SocialMediaIcon{
    color: white;
    background-color: #222326;
    font-size: 24px;
    text-align: center;
    align-items: center;
}

.SocialMediaIcon:hover{
    color: #1db954 !important;
}

.Country{
    display: flex;
    justify-content: flex-end;
}

.Country a{
    color: #919496 !important;
    cursor: pointer;
}

.Country a:hover{
    color: #1db954 !important;
}

.Country img{
    width: 24px;
    height: 18px;
    margin: 0px 0px 0px 10px;
}

.Policy{
    justify-content: flex-start;
    padding: 0px 0px 0px 15px;
}

.Policy a{
    color: #919496 !important;
    cursor: pointer;
    padding: 10px;
    font-size: 12px;
}

.Policy a:hover{
    color: #1db954 !important;
}

.Copyright{
    margin: 0px 0px 0px 570px;
    justify-content: flex-end;
}

.Copyright footer{
    font-size: 12px;
    color: #919496 !important;
    justify-content: flex-end;
}
