.Navbar {
    height: 80px;
    width: 100%;
    background-color: #b49bc8;
    display: flex;
    font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}

.Navbar .NavbarMenu{
    padding: 0px 15px 0px 0px;
    margin: 0px 47px 0px 0px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.Navbar .BrandWrapper{
    padding: 20px 0px 0px 15px;
    margin:  0px 0px 0px 47px;
    justify-content: flex-start;
}

.Navbar .BrandWrapper img{
    width: 171px;
    height: 60px;
}

.Navbar .NavbarMenu a{
    display: flex;
    padding: 28px 17px;
    justify-content: flex-end !important;
    font-weight: 700;
    cursor: pointer;
}

.Navbar .NavbarMenu a:hover{
    color: #1DB954 !important;
}

.NavbarMenu .Vertical{
    border-left: 1.5px solid black;
    height: 16px;
    margin: auto 17px;
}




/* <div className='Navbar'>
            <div className='NavbarContainer'>
                <img src={Spotify}/>
            </div>
            <div className="d-flex justify-content-end">
                <button>Premium</button>
            </div>
        </div> */