.PremiumWrapper{
    background-color: rgb(248, 248, 248);
}

.PremiumCard{
    display: block;
    background-color:  rgb(248, 248, 248);
}

.PremiumCard .Top{
    background-color: white;
    margin: 0px 16px 0px 0px;
    padding: 16px 16px 0px;
    display: block;
    box-shadow: rgb(255, 255, 255) 0px 8px 0px 0px, rgba(0, 0, 0, 0.3) 0px 0px 8px;
    border-radius: 10px 10px 0px 0px;
    width: 269px;
    height: 223px;
}

.PremiumCard .Top .Header{
    background-color: white;
    justify-content: flex-start;
}

.PremiumCard .Top .Header .info{
    color: #2e77d0;
    margin: 0px 0px 20px;
    padding: 4px 8px;
    border: 1px solid #2e77d0;
    background-color: white;
    font-weight: 900;
    font-size: 14px;
    border-radius: 4px;
}

.PremiumCard .Top .Header h3{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.25px;
}

.Middle{
    width: 269px;
    height: 544px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px;
    margin: 0px 16px 0px 0px;
    padding: 20px 16px 16px;
    border-radius: 0px 0px 10px 10px;
}

.Middle .Desc{
    width: auto;
    height: 348px;
    text-align: left;
    display: block;
}

.PremiumButtonWrapper{
    padding-bottom: 16px;
}

.PremiumButton{
    background-color:black;
    width: 235px;
    height: 48px;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    text-align: center;
    align-items: center;
    outline: none;
}

.PremiumButton:hover{
    transform: scale(1.04);
    background-color: rgb(64, 64, 64) ;
}

.SdK{
    font-size: 12px;
    margin: 6px 0px 12px;
    padding: 14px 0px 28px;
}